.container{
  font-family: sans-serif; 
}

.tooltip {
    position: relative;
    width: auto;
    height: auto;
    padding: 2px;
    padding-top: 2px;
    font: 12px sans-serif;
    color: black;
    text-align: center;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px
  }
  
  .axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
  }

  .titleText {
    font-family: sans-serif;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
  }

